{% extends 'sagapp/index.html' %}
{% load crispy_forms_tags %}

{% load static %}


{% block title %}
<title>
    ABOUT PAGE: SAGESSE ACADEMY
</title>
{% endblock title %}


{% block content %}

<div class="aboutclass">
    <div class="aboutclassd1">
        <div class="abimg">
            <img src="{% static 'sagapp/images/sagesseict.jpeg' %}" alt="" srcset="">
        </div>
        <div class="abdiv">
            <h1>Who We Are</h1>
        </div>
        <div class="abdiv2">
            <p>Sagesse Academy is a school with a vision to produce a confident and innovative child
                in a dynamic
                world.</p>
            <p>It intends to achieve this by providing the necessary resources to groom and educate every child to
                become
                a critical
                thinker and problem solver,
                enriched with core societal values.</p>
        </div>
    </div>
    <div class="aboutclassd2">
        <h2 class="coretitle">OUR SHARED VALUES</h2>
        <div class="core1">
            <img src="{% static 'sagapp/images/morals.png' %}" alt="" srcset="">
            <div class="coreps">
                <p class="corepstitle"><strong>Good Morals</strong></p>
                <p>Good morals determine the success of a human being hence we pay close attention to it.</p>
            </div>

        </div>
        <div class="core2">
            <img src="{% static 'sagapp/images/creativity1.png' %}" alt="" srcset="">
            <div class="coreps">
                <p class="corepstitle"><strong>Creativity</strong></p>
                <p>The standard through which imagination comes to life is creativity. With good teaching
                    methods, we activate
                    creativity in pupils as early as possible for them to be more productive.</p>
            </div>
        </div>
        <div class="core3">
            <img src="{% static 'sagapp/images/startearly.png' %}" alt="" srcset="">
            <div class="coreps">
                <p class="corepstitle"><strong>Academic Excellence</strong></p>
                <p>We provide quality academic services which make our pupils perform excellently because we believe
                    that none qualitatative education is same as no education. </p>
            </div>
        </div>
    </div>
    <!-- <div class="aboutclassd3">About Sect 3</div>
    <div class="aboutclassd4">About Sect 4</div>
    <div class="aboutclassd5">About Sect 5</div> -->
</div>


{% endblock content %}