{% extends 'sagapp/index.html' %}

<!-- {% load crispy_forms_tags %} -->
{% load static %}


{% block title %}
<title>
    DASHBOARD | SAGESSE ACADEMY
</title>
{% endblock title %}


{% block content %}


<div class="adminpanel">

    <div class="adminlinks">
        <p><a href="{% url 'sagapp:add_events' %}">ADD EVENTS</a></p>
    </div>
    <div class="adminlinks">
        <p><a href="{% url 'sagapp:events' %}">VIEW EVENTS</a></p>
    </div>

    <div class="adminlinks">
        <p><a href="{% url 'sagapp:view_contacts' %}">VIEW CONTACTS</a></p>
    </div>
    <div class="adminlinks">
        <p><a href="{% url 'sagapp:view_admissions' %}">VIEW ADMISSIONS</a></p>
    </div>

</div>

{% endblock %}