{% extends 'sagapp/base.html' %}

{% load static %}


{% block title %}
<title>
    PRIVACY POLICY: SAGESSE ACADEMY
</title>
{% endblock title %}


{% block content %}

<div class="maintopmargin">
</div>

<div class="privacy-main">

    <div class=" margin-right paddingleft paddingright">
        <h1>Privacy Policy and Terms of Use</h1>

        <p>Thank you for visiting the official website of Sagesse Academy, Lugbe one of the best private schools in
            Abuja.
            This privacy
            policy
            explains how personal information about you is collected, used and disclosed by Sagesse Academy with respect
            to
            your use of the school's website. By continuing to use Sagesse Academy's Site, you are
            accepting the terms of use defined in this statement.</p>
    </div>
    <div class="paddingleft paddingright">
        <h3>Web Accessibility</h3>
        <p>Sagesse Academy is committed to web accessibility for everyone.

            If you are experiencing a web accessibility issue, please contact via +2348094442056, +2348165558459 or can
            even
            visit us at: <span class="intalize">Plot 789 Oyewum John Street, CRD Estate, FHA, Lugbe, Abuja.</span>

        </p>
    </div>

    <div class="paddingleft paddingright">
        <h2>Information Collected by Sagesse Academy</h2>
        <h3>General Information</h3>
        <p>Our Sites are made available to you to provide information about our school and the services offered. You can
            browse
            our Sites without providing any personal information such as your name, mailing address, email address,
            phone
            number.</p>
        <h3>Non-Personal Information</h3>

        <p>When you access and use our Site, some information is automatically collected. For example, we may collect
            information
            about your computer’s operating system, Internet Protocol (IP) address, access times, browser type and
            language
            and the
            website that referred you to us. We also collect information about your usage and activity on our Sites.</p>
        <h3>Cookies</h3>
        <p>
            When you visit our Site, you may be issued a “cookie,” which helps track your session while online. Cookies
            are
            small
            data files stored on your hard drive. Among other things, cookies help to make your site visit more relevant
            and
            personalized for you. We use cookies to see which areas and features are popular and to count visits to our
            Site. Most
            browsers are initially set to accept cookies. If you would prefer, you may set your browser to refuse
            cookies or
            alert
            you when cookies are being sent; however, it is possible that some parts of our Sites will not function
            properly
            if you
            do so.</p>
        <h3>Personal Information</h3>
        <p>
            We also collect personal information that you voluntarily provide to us, such as when you apply for
            admission,
            sent us an enquiry/contact message. Such
            information may include: contact information (name, address, telephone number, social media username/handle,
            mobile
            phone and/or email address, etc.); academic area/class or interest;
            demographic information (age, academic status, marital status, size of household,
            income, Finally, we may obtain information from other sources and combine that with the information we
            collect directly from you.</p>
    </div>
    <div class="paddingleft paddingright">
        <h2>How We Use Your Information</h2>
        <h3>Non-Personal Information</h3>
        Non-personal information is used to generate statistics and to measure site activity in order to improve the
        usefulness of the site for our visitors.

        <h3>Personal Information</h3>

        Personal information allows us to provide you with products, services and information and enables us to offer a
        customized experience on our Site. We use personal information for the purposes described in this privacy policy
        or
        otherwise disclosed to you on our Site. For example, personal information may be used to:
        <li>operate and improve our Sites;</li>
        <li>provide information about our institution and send you related information, including confirmations,
            brochures,
            academic
            notices, updates, security alerts and support and administrative messages;</li>
        <li>process and deliver admissions;</li>
        <li>respond to comments, questions or requests for information and provide customer service;</li>
        <li>communicate with you about our classes, achievements, promotions, rewards, special offers,
            upcoming events and other news about Sagesse Academy and our selected partners;</li>
        <li>generate site analytics to improve our website and the user experience; and</li>
        <li>link or combine with personal information we get from third parties to help understand your needs and
            provide
            you with
            better service and information.</li>
    </div>

    <div class="paddingleft paddingright">
        <h2>Sharing Your Personal Information</h2>
        <p>We do not share your personal information with third parties except as described in this privacy policy or as
            otherwise
            disclosed to you on our Sites. For example, we may share personal information as follows:</p>
        <li> when you give us your consent to do so, including if we notify you on the Site/s that the information you
            provide will
            be shared in a particular manner and you provide such information;</li>
        <li>with vendors, contractors, consultants and other service providers who are working on our behalf and need
            access
            to your
            information to carry out their work for us;</li>
        <li>(i) to comply with laws or to respond to lawful requests and legal process, (ii) to protect our rights and
            property and
            those of our agents, customers and others, including to enforce our agreements, policies and Terms of Use or
            (iii) in an
            emergency to protect Sagesse Academy and the safety of our students, and staff or any third party; and</li>
        <li>we may also share aggregated or anonymous information that does not directly identify you.</li>

    </div>
</div>
{% endblock content %}